<h1>ユーザー詳細</h1>
<%= form_with model: @user do |f| %>
  <h4>ユーザーネーム</h4>
  <%= @user.user_name %>
  <h4>画像</h4>
  <%= image_tag @user.get_profile_image, size: "100x100"%>
  <%= link_to "編集", edit_admin_user_path, method: :get %>
<% end %>
<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image, size: "200x200"%>
    <p>ツール名：<%= post.tool_name %></p>
    <p>説明：<%= post.tool_description %></p>
    <p>資格名：<%= post.qualification_name %></p>
    <p>ユーザー名：<%= link_to post.user.user_name, admin_user_path(post.user.id) %></p>
  </div>
<% end %>
<%= link_to "戻る", admin_users_path, method: :get %>