<h1>ユーザー詳細</h1>
<%= form_with model: @user do |f| %>
  <h4>ユーザーネーム</h4>
  <%= @user.user_name %>
  <h4>画像</h4>
  <%= image_tag @user.get_profile_image, size: "100x100"%>
  <% if @user.id == current_user.id %>
    <%= link_to "編集", edit_user_path, method: :get %>
    <%= link_to "退会", user_path, method: :delete, data: {confirm: "本当に退会しますか？"}  %>
  <% end %>
<% end %>
<% if @user.id != current_user.id %>
  <% if Follow.find_by(user_id: current_user.id, following_user_id: @user.id) %>
    <%= form_with model: @follow, url: user_follows_path(@user.id), method: :delete do |f| %>
      <%= f.submit "フォロー解除" %>
    <% end %>
  <% else %>
    <%= form_with model: @follow, url: user_follows_path(@user.id), method: :post do |f| %>
      <%= f.submit "フォロー" %>
    <% end %>
  <% end %>
<% end %>
<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image, size: "200x200"%>
    <% end %>
    <p>ツール名：<%= post.tool_name %></p>
    <p>説明：<%= post.tool_description %></p>
    <p>資格名：<%= post.qualification_name %></p>
    <p>ユーザー名：<%= link_to post.user.user_name, user_path(post.user.id) %></p>
  </div>
<% end %>
<%= link_to "戻る", posts_path, method: :get %>